#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rich_text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=32) ;
  filter: alpha(opacity=32) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rich_text_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87) ;
  filter: alpha(opacity=87) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rich_text_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=86) ;
  filter: alpha(opacity=86) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rich_text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rich_text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rich_text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rich_text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Line_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rich_text_9 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=86) ;
  filter: alpha(opacity=86) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rich_text_11 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=86) ;
  filter: alpha(opacity=86) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rich_text_12 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=86) ;
  filter: alpha(opacity=86) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rich_text_21 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=86) ;
  filter: alpha(opacity=86) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rich_text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}