#t-596f2451-06f5-4a21-b967-73706cdfc975 #t-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#t-596f2451-06f5-4a21-b967-73706cdfc975 #t-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#t-596f2451-06f5-4a21-b967-73706cdfc975 #t-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#t-596f2451-06f5-4a21-b967-73706cdfc975 #t-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#t-596f2451-06f5-4a21-b967-73706cdfc975 #t-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#t-596f2451-06f5-4a21-b967-73706cdfc975 #t-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#t-596f2451-06f5-4a21-b967-73706cdfc975 #t-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D6;
  -ms-transform: rotate(0.0deg);
}
#t-596f2451-06f5-4a21-b967-73706cdfc975 #t-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D6;
  -ms-transform: rotate(0.0deg);
}
#t-596f2451-06f5-4a21-b967-73706cdfc975 #t-Line_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D6;
  -ms-transform: rotate(0.0deg);
}
#t-596f2451-06f5-4a21-b967-73706cdfc975 #t-Line_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D6;
  -ms-transform: rotate(0.0deg);
}
#t-596f2451-06f5-4a21-b967-73706cdfc975 #t-Label_10 {
  -ms-transform: rotate(0.0deg);
}
#t-596f2451-06f5-4a21-b967-73706cdfc975 #t-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#t-596f2451-06f5-4a21-b967-73706cdfc975 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}