@font-face {
  font-family: "ABeeZee-Regular";
  src: url("../fonts/ABeeZee-Regular.eot?#iefix") format("embedded-opentype"), 
       url("../fonts/ABeeZee-Regular.woff") format("woff"), 
       url("../fonts/ABeeZee-Regular.ttf")  format("truetype"),
       url("../fonts/ABeeZee-Regular.svg#svgFontName") format("svg");
}
@font-face {
  font-family: "Abel-Regular";
  src: url("../fonts/Abel-Regular.eot?#iefix") format("embedded-opentype"), 
       url("../fonts/Abel-Regular.woff") format("woff"), 
       url("../fonts/Abel-Regular.ttf")  format("truetype"),
       url("../fonts/Abel-Regular.svg#svgFontName") format("svg");
}
@font-face {
  font-family: "Domine-Regular";
  src: url("../fonts/Domine-Regular.eot?#iefix") format("embedded-opentype"), 
       url("../fonts/Domine-Regular.woff") format("woff"), 
       url("../fonts/Domine-Regular.ttf")  format("truetype"),
       url("../fonts/Domine-Regular.svg#svgFontName") format("svg");
}