#t-596f2451-06f5-4a21-b967-73706cdfc975 > #backgroundBox {
  background-color: #EBEBE8;
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/2a5a2063-ad51-4ec3-882b-12955aa12eac.png');
  position: absolute;
}
#t-596f2451-06f5-4a21-b967-73706cdfc975 > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 800px;
  min-width: 800px;
  min-height: 600px;
}
#t-596f2451-06f5-4a21-b967-73706cdfc975 #t-Image_2 {
  position: absolute;
  top: 31px;
  left: 401px;
  width: 180px;
  height: 75px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#t-596f2451-06f5-4a21-b967-73706cdfc975 #t-Label_3 {
  position: absolute;
  top: 141px;
  left: 102px;
  width: 51px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Avenir Next,Arial;
}
#t-596f2451-06f5-4a21-b967-73706cdfc975 #t-Label_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#t-596f2451-06f5-4a21-b967-73706cdfc975 #t-Label_3 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Avenir Next,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-596f2451-06f5-4a21-b967-73706cdfc975 #t-Label_3 span#rtr-t-Label_3_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Avenir Next,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-596f2451-06f5-4a21-b967-73706cdfc975 #t-Label_4 {
  position: absolute;
  top: 141px;
  left: 214px;
  width: 49px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Avenir Next,Arial;
}
#t-596f2451-06f5-4a21-b967-73706cdfc975 #t-Label_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#t-596f2451-06f5-4a21-b967-73706cdfc975 #t-Label_4 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Avenir Next,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-596f2451-06f5-4a21-b967-73706cdfc975 #t-Label_4 span#rtr-t-Label_4_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Avenir Next,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-596f2451-06f5-4a21-b967-73706cdfc975 #t-Label_5 {
  position: absolute;
  top: 141px;
  left: 335px;
  width: 98px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Avenir Next,Arial;
}
#t-596f2451-06f5-4a21-b967-73706cdfc975 #t-Label_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#t-596f2451-06f5-4a21-b967-73706cdfc975 #t-Label_5 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Avenir Next,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-596f2451-06f5-4a21-b967-73706cdfc975 #t-Label_5 span#rtr-t-Label_5_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Avenir Next,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-596f2451-06f5-4a21-b967-73706cdfc975 #t-Label_6 {
  position: absolute;
  top: 141px;
  left: 498px;
  width: 75px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Avenir Next,Arial;
}
#t-596f2451-06f5-4a21-b967-73706cdfc975 #t-Label_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#t-596f2451-06f5-4a21-b967-73706cdfc975 #t-Label_6 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Avenir Next,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-596f2451-06f5-4a21-b967-73706cdfc975 #t-Label_6 span#rtr-t-Label_6_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Avenir Next,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-596f2451-06f5-4a21-b967-73706cdfc975 #t-Label_7 {
  position: absolute;
  top: 141px;
  left: 635px;
  width: 97px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Avenir Next,Arial;
}
#t-596f2451-06f5-4a21-b967-73706cdfc975 #t-Label_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#t-596f2451-06f5-4a21-b967-73706cdfc975 #t-Label_7 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Avenir Next,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-596f2451-06f5-4a21-b967-73706cdfc975 #t-Label_7 span#rtr-t-Label_7_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Avenir Next,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-596f2451-06f5-4a21-b967-73706cdfc975 #t-Line_2 {
  position: absolute;
  top: 134px;
  left: 80px;
  width: 793px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#t-596f2451-06f5-4a21-b967-73706cdfc975 #t-Line_4 {
  position: absolute;
  top: 175px;
  left: 79px;
  width: 794px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#t-596f2451-06f5-4a21-b967-73706cdfc975 #t-Label_10 {
  position: absolute;
  top: 141px;
  left: 767px;
  width: 97px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Avenir Next,Arial;
}
#t-596f2451-06f5-4a21-b967-73706cdfc975 #t-Label_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#t-596f2451-06f5-4a21-b967-73706cdfc975 #t-Label_10 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Avenir Next,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-596f2451-06f5-4a21-b967-73706cdfc975 #t-Label_10 span#rtr-t-Label_10_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Avenir Next,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-596f2451-06f5-4a21-b967-73706cdfc975 #t-Image_1 {
  position: absolute;
  top: 140px;
  left: 767px;
  width: 30px;
  height: 31px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#t-596f2451-06f5-4a21-b967-73706cdfc975 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}