#s-13265d8f-a518-4187-b616-20b7ddf54c92 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13265d8f-a518-4187-b616-20b7ddf54c92 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13265d8f-a518-4187-b616-20b7ddf54c92 #s-Button_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
  filter: alpha(opacity=98) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13265d8f-a518-4187-b616-20b7ddf54c92 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13265d8f-a518-4187-b616-20b7ddf54c92 #s-Button_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
  filter: alpha(opacity=98) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13265d8f-a518-4187-b616-20b7ddf54c92 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13265d8f-a518-4187-b616-20b7ddf54c92 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13265d8f-a518-4187-b616-20b7ddf54c92 #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13265d8f-a518-4187-b616-20b7ddf54c92 #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13265d8f-a518-4187-b616-20b7ddf54c92 #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13265d8f-a518-4187-b616-20b7ddf54c92 #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13265d8f-a518-4187-b616-20b7ddf54c92 #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13265d8f-a518-4187-b616-20b7ddf54c92 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13265d8f-a518-4187-b616-20b7ddf54c92 #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13265d8f-a518-4187-b616-20b7ddf54c92 #s-Label_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13265d8f-a518-4187-b616-20b7ddf54c92 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13265d8f-a518-4187-b616-20b7ddf54c92 #s-Button_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
  filter: alpha(opacity=98) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13265d8f-a518-4187-b616-20b7ddf54c92 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13265d8f-a518-4187-b616-20b7ddf54c92 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13265d8f-a518-4187-b616-20b7ddf54c92 #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13265d8f-a518-4187-b616-20b7ddf54c92 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}