#s-3bbd530e-cb29-450e-97ca-ce7057b45211 #s-Rectangle_6 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-3bbd530e-cb29-450e-97ca-ce7057b45211 #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-3bbd530e-cb29-450e-97ca-ce7057b45211 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-3bbd530e-cb29-450e-97ca-ce7057b45211 #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-3bbd530e-cb29-450e-97ca-ce7057b45211 #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-3bbd530e-cb29-450e-97ca-ce7057b45211 #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-3bbd530e-cb29-450e-97ca-ce7057b45211 #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-3bbd530e-cb29-450e-97ca-ce7057b45211 #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-3bbd530e-cb29-450e-97ca-ce7057b45211 #s-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D6;
  -ms-transform: rotate(0.0deg);
}
#s-3bbd530e-cb29-450e-97ca-ce7057b45211 #s-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D6;
  -ms-transform: rotate(0.0deg);
}
#s-3bbd530e-cb29-450e-97ca-ce7057b45211 #s-Line_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D6;
  -ms-transform: rotate(0.0deg);
}
#s-3bbd530e-cb29-450e-97ca-ce7057b45211 #s-Line_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D6;
  -ms-transform: rotate(0.0deg);
}
#s-3bbd530e-cb29-450e-97ca-ce7057b45211 #s-Label_10 {
  -ms-transform: rotate(0.0deg);
}
#s-3bbd530e-cb29-450e-97ca-ce7057b45211 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3bbd530e-cb29-450e-97ca-ce7057b45211 #s-Panel_1 {
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #B8B8B5;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #B8B8B5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=96);
  filter: alpha(opacity=96);
}
#s-3bbd530e-cb29-450e-97ca-ce7057b45211 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-3bbd530e-cb29-450e-97ca-ce7057b45211 #s-Panel_2 {
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #B8B8B5;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #B8B8B5;
}
#s-3bbd530e-cb29-450e-97ca-ce7057b45211 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-3bbd530e-cb29-450e-97ca-ce7057b45211 #s-Panel_3 {
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #B8B8B5;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #B8B8B5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=93);
  filter: alpha(opacity=93);
}
#s-3bbd530e-cb29-450e-97ca-ce7057b45211 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-3bbd530e-cb29-450e-97ca-ce7057b45211 #s-Rectangle_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#s-3bbd530e-cb29-450e-97ca-ce7057b45211 #s-Rectangle_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 5px 5px 5px 5px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=24);
  filter: alpha(opacity=24);
  -ms-transform: rotate(0.0deg);
}
#s-3bbd530e-cb29-450e-97ca-ce7057b45211 #s-Label_12 {
  -ms-transform: rotate(0.0deg);
}
#s-3bbd530e-cb29-450e-97ca-ce7057b45211 #s-Rich_text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3bbd530e-cb29-450e-97ca-ce7057b45211 #s-Rich_text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-3bbd530e-cb29-450e-97ca-ce7057b45211 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D6;
  -ms-transform: rotate(0.0deg);
}
#s-3bbd530e-cb29-450e-97ca-ce7057b45211 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D6;
  -ms-transform: rotate(0.0deg);
}
#s-3bbd530e-cb29-450e-97ca-ce7057b45211 #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-3bbd530e-cb29-450e-97ca-ce7057b45211 #s-Rich_text_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=87);
  filter: alpha(opacity=87);
  -ms-transform: rotate(0.0deg);
}
#s-3bbd530e-cb29-450e-97ca-ce7057b45211 #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-3bbd530e-cb29-450e-97ca-ce7057b45211 #s-Rich_text_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=86);
  filter: alpha(opacity=86);
  -ms-transform: rotate(0.0deg);
}
#s-3bbd530e-cb29-450e-97ca-ce7057b45211 #s-Image_16 {
  -ms-transform: rotate(0.0deg);
}
#s-3bbd530e-cb29-450e-97ca-ce7057b45211 #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-3bbd530e-cb29-450e-97ca-ce7057b45211 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-3bbd530e-cb29-450e-97ca-ce7057b45211 #s-Label_14 {
  -ms-transform: rotate(0.0deg);
}
#s-3bbd530e-cb29-450e-97ca-ce7057b45211 #s-Rich_text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-3bbd530e-cb29-450e-97ca-ce7057b45211 #s-Label_15 {
  -ms-transform: rotate(0.0deg);
}
#s-3bbd530e-cb29-450e-97ca-ce7057b45211 #s-Rich_text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-3bbd530e-cb29-450e-97ca-ce7057b45211 #s-Rich_text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-3bbd530e-cb29-450e-97ca-ce7057b45211 #s-Rich_text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-3bbd530e-cb29-450e-97ca-ce7057b45211 #s-Line_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D6;
  -ms-transform: rotate(0.0deg);
}
#s-3bbd530e-cb29-450e-97ca-ce7057b45211 #s-Line_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D6;
  -ms-transform: rotate(0.0deg);
}
#s-3bbd530e-cb29-450e-97ca-ce7057b45211 #s-Line_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D6;
  -ms-transform: rotate(0.0deg);
}
#s-3bbd530e-cb29-450e-97ca-ce7057b45211 #s-Line_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D6;
  -ms-transform: rotate(0.0deg);
}
#s-3bbd530e-cb29-450e-97ca-ce7057b45211 #s-Line_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D6;
  -ms-transform: rotate(0.0deg);
}
#s-3bbd530e-cb29-450e-97ca-ce7057b45211 #s-Line_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D6;
  -ms-transform: rotate(0.0deg);
}
#s-3bbd530e-cb29-450e-97ca-ce7057b45211 #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-3bbd530e-cb29-450e-97ca-ce7057b45211 #s-Rich_text_9 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=86);
  filter: alpha(opacity=86);
  -ms-transform: rotate(0.0deg);
}
#s-3bbd530e-cb29-450e-97ca-ce7057b45211 #s-Image_20 {
  -ms-transform: rotate(0.0deg);
}
#s-3bbd530e-cb29-450e-97ca-ce7057b45211 #s-Rich_text_11 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=86);
  filter: alpha(opacity=86);
  -ms-transform: rotate(0.0deg);
}
#s-3bbd530e-cb29-450e-97ca-ce7057b45211 #s-Image_21 {
  -ms-transform: rotate(0.0deg);
}
#s-3bbd530e-cb29-450e-97ca-ce7057b45211 #s-Rich_text_12 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=86);
  filter: alpha(opacity=86);
  -ms-transform: rotate(0.0deg);
}
#s-3bbd530e-cb29-450e-97ca-ce7057b45211 #s-Image_22 {
  -ms-transform: rotate(0.0deg);
}
#s-3bbd530e-cb29-450e-97ca-ce7057b45211 #s-Rich_text_21 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=86);
  filter: alpha(opacity=86);
  -ms-transform: rotate(0.0deg);
}
#s-3bbd530e-cb29-450e-97ca-ce7057b45211 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3bbd530e-cb29-450e-97ca-ce7057b45211 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-3bbd530e-cb29-450e-97ca-ce7057b45211 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-3bbd530e-cb29-450e-97ca-ce7057b45211 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-3bbd530e-cb29-450e-97ca-ce7057b45211 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-3bbd530e-cb29-450e-97ca-ce7057b45211 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}