#s-481561d0-ff14-4af6-af6d-099cacced780 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 800px;
  min-width: 800px;
  min-height: 600px;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Rectangle_6 {
  position: absolute;
  top: 0px;
  left: -2672px;
  width: 6285px;
  height: 1914px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Rectangle_6 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Image_2 {
  position: absolute;
  top: 44px;
  left: 80px;
  width: 106px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Dynamic_Panel_1 {
  position: absolute;
  top: 210px;
  left: 30px;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Panel_1 {
  width: 660px;
  height: 320px;
  background-color: transparent;
  background-image: none;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #B8B8B5;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #B8B8B5;
  opacity: 0.96;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Image_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 823px;
  height: 487px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Panel_2 {
  width: 660px;
  height: 321px;
  background-color: transparent;
  background-image: none;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #B8B8B5;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #B8B8B5;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Image_4 {
  position: absolute;
  top: -41px;
  left: 2px;
  width: 754px;
  height: 482px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Panel_3 {
  width: 660px;
  height: 321px;
  background-color: transparent;
  background-image: none;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #B8B8B5;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #B8B8B5;
  opacity: 0.93;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Panel_3 .verticalalign {
  vertical-align: top;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Image_8 {
  position: absolute;
  top: 0px;
  left: -2px;
  width: 752px;
  height: 365px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Label_2 {
  position: absolute;
  top: 678px;
  left: 97px;
  width: 494px;
  height: 37px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: Abel-Regular,Arial;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Label_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Label_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Abel-Regular,Arial;
  font-size: 20.0pt;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Label_2 span#rtr-s-Label_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Abel-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Label_3 {
  position: absolute;
  top: 138px;
  left: 77px;
  width: 61px;
  height: 44px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Abel-Regular,Arial;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Label_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Label_3 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Abel-Regular,Arial;
  font-size: 14.0pt;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Label_3 span#rtr-s-Label_3_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Abel-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Label_4 {
  position: absolute;
  top: 138px;
  left: 162px;
  width: 45px;
  height: 44px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 14.0pt;
  font-family: Abel-Regular,Arial;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Label_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Label_4 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Abel-Regular,Arial;
  font-size: 14.0pt;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Label_4 span#rtr-s-Label_4_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Abel-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Label_5 {
  position: absolute;
  top: 138px;
  left: 230px;
  width: 114px;
  height: 44px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Abel-Regular,Arial;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Label_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Label_5 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Abel-Regular,Arial;
  font-size: 14.0pt;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Label_5 span#rtr-s-Label_5_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Abel-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Label_6 {
  position: absolute;
  top: 138px;
  left: 367px;
  width: 85px;
  height: 44px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Abel-Regular,Arial;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Label_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Label_6 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Abel-Regular,Arial;
  font-size: 14.0pt;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Label_6 span#rtr-s-Label_6_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Abel-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Label_7 {
  position: absolute;
  top: 138px;
  left: 466px;
  width: 97px;
  height: 44px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Abel-Regular,Arial;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Label_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Label_7 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Abel-Regular,Arial;
  font-size: 14.0pt;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Label_7 span#rtr-s-Label_7_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Abel-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Line_2 {
  position: absolute;
  top: 134px;
  left: -30px;
  width: 765px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Line_4 {
  position: absolute;
  top: 180px;
  left: -31px;
  width: 765px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Label_10 {
  position: absolute;
  top: 138px;
  left: 588px;
  width: 61px;
  height: 44px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Abel-Regular,Arial;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Label_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Label_10 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Abel-Regular,Arial;
  font-size: 14.0pt;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Label_10 span#rtr-s-Label_10_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Abel-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Image_1 {
  position: absolute;
  top: 144px;
  left: 636px;
  width: 31px;
  height: 34px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Rectangle_3 {
  position: absolute;
  top: 408px;
  left: 32px;
  width: 658px;
  height: 123px;
  background-color: #000000;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  opacity: 0.4;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Rectangle_1 {
  position: absolute;
  top: 473px;
  left: 285px;
  width: 142px;
  height: 46px;
  background-color: #999999;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 5px 5px 5px 5px;
  opacity: 0.24;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 8.0pt;
  font-family: Domine-Regular,Arial;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Domine-Regular,Arial;
  font-size: 8.0pt;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Domine-Regular,Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Label_12 {
  position: absolute;
  top: 486px;
  left: 179px;
  padding-left: 10px;
  width: 335px;
  height: 42px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 12.0pt;
  font-family: Abel-Regular,Arial;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Label_12 .valign {
  vertical-align: top;
  text-align: center;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Label_12 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Abel-Regular,Arial;
  font-size: 12.0pt;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Label_12 span#rtr-s-Label_12_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Abel-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Rich_text_1 {
  position: absolute;
  top: 423px;
  left: 78px;
  width: 558px;
  height: 40px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 40px;
  font-size: 18.0pt;
  font-family: Abel-Regular,Arial;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Rich_text_1 .valign {
  vertical-align: top;
  text-align: center;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Rich_text_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Abel-Regular,Arial;
  font-size: 18.0pt;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Rich_text_1 span#rtr-s-Rich_text_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Abel-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Rich_text_2 {
  position: absolute;
  top: 562px;
  left: 32px;
  width: 658px;
  height: 60px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 21px;
  font-size: 11.0pt;
  font-family: Abel-Regular,Arial;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Rich_text_2 .valign {
  vertical-align: top;
  text-align: center;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Rich_text_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Abel-Regular,Arial;
  font-size: 11.0pt;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Rich_text_2 span#rtr-s-Rich_text_2_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Abel-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Line_1 {
  position: absolute;
  top: 697px;
  left: 5px;
  width: 88px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Group_4 {
  position: absolute;
  top: 764px;
  left: 55px;
  width: 291px;
  height: 188px;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Image_12 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 290px;
  height: 187px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Rich_text_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 16px;
  padding-left: 17px;
  width: 274px;
  height: 172px;
  background-color: #FC363B;
  background-image: none;
  opacity: 0.87;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  line-height: 20px;
  font-size: 15.0pt;
  font-family: Abel-Regular,Arial;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Rich_text_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Rich_text_3 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Abel-Regular,Arial;
  font-size: 15.0pt;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Rich_text_3 span#rtr-s-Rich_text_3_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Abel-Regular,Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Rich_text_3 span#rtr-s-Rich_text_3_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Abel-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Group_5 {
  position: absolute;
  top: 764px;
  left: 365px;
  width: 300px;
  height: 188px;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Image_13 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 299px;
  height: 187px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Rich_text_4 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 16px;
  padding-left: 17px;
  width: 283px;
  height: 172px;
  background-color: #FC363B;
  background-image: none;
  opacity: 0.86;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  line-height: 19px;
  font-size: 15.0pt;
  font-family: Abel-Regular,Arial;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Rich_text_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Rich_text_4 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Abel-Regular,Arial;
  font-size: 15.0pt;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Rich_text_4 span#rtr-s-Rich_text_4_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Abel-Regular,Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Rich_text_4 span#rtr-s-Rich_text_4_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Abel-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Image_16 {
  position: absolute;
  top: 967px;
  left: 366px;
  width: 299px;
  height: 187px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Image_17 {
  position: absolute;
  top: 1171px;
  left: 365px;
  width: 299px;
  height: 187px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Rectangle_2 {
  position: absolute;
  top: 1432px;
  left: 79px;
  width: 650px;
  height: 22px;
  background-color: transparent;
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/76100c50-1180-463d-88c1-3bea1fa1a5e3.png');
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Label_14 {
  position: absolute;
  top: 1467px;
  left: 86px;
  width: 139px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Abel-Regular,Arial;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Label_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Label_14 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Abel-Regular,Arial;
  font-size: 12.0pt;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Label_14 span#rtr-s-Label_14_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Abel-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Rich_text_16 {
  position: absolute;
  top: 1508px;
  left: 86px;
  width: 221px;
  height: 94px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 9.0pt;
  font-family: Abel-Regular,Arial;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Rich_text_16 .valign {
  vertical-align: top;
  text-align: left;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Rich_text_16 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Abel-Regular,Arial;
  font-size: 9.0pt;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Rich_text_16 span#rtr-s-Rich_text_16_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Abel-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Label_15 {
  position: absolute;
  top: 1467px;
  left: 409px;
  width: 139px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Abel-Regular,Arial;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Label_15 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Label_15 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Abel-Regular,Arial;
  font-size: 12.0pt;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Label_15 span#rtr-s-Label_15_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Abel-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Rich_text_17 {
  position: absolute;
  top: 1508px;
  left: 409px;
  width: 212px;
  height: 92px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 9.0pt;
  font-family: Abel-Regular,Arial;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Rich_text_17 .valign {
  vertical-align: top;
  text-align: left;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Rich_text_17 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Abel-Regular,Arial;
  font-size: 9.0pt;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Rich_text_17 span#rtr-s-Rich_text_17_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Abel-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Rich_text_18 {
  position: absolute;
  top: 1589px;
  left: 409px;
  width: 212px;
  height: 75px;
  background-color: #F2F2F0;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 9.0pt;
  font-family: Abel-Regular,Arial;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Rich_text_18 .valign {
  vertical-align: top;
  text-align: left;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Rich_text_18 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Abel-Regular,Arial;
  font-size: 9.0pt;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Rich_text_18 span#rtr-s-Rich_text_18_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Abel-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Rich_text_19 {
  position: absolute;
  top: 1677px;
  left: 409px;
  width: 212px;
  height: 98px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 9.0pt;
  font-family: Abel-Regular,Arial;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Rich_text_19 .valign {
  vertical-align: top;
  text-align: left;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Rich_text_19 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Abel-Regular,Arial;
  font-size: 9.0pt;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Rich_text_19 span#rtr-s-Rich_text_19_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Abel-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Line_5 {
  position: absolute;
  top: 697px;
  left: 600px;
  width: 111px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Line_6 {
  position: absolute;
  top: 693px;
  left: 3px;
  width: 90px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Line_7 {
  position: absolute;
  top: 693px;
  left: 601px;
  width: 109px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Group_10 {
  position: absolute;
  top: 1171px;
  left: 53px;
  width: 293px;
  height: 187px;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Image_18 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 293px;
  height: 187px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Rich_text_9 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 16px;
  padding-left: 17px;
  width: 276px;
  height: 171px;
  background-color: #FC363B;
  background-image: none;
  opacity: 0.86;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  line-height: 19px;
  font-size: 15.0pt;
  font-family: Abel-Regular,Arial;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Rich_text_9 .valign {
  vertical-align: top;
  text-align: left;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Rich_text_9 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Abel-Regular,Arial;
  font-size: 15.0pt;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Rich_text_9 span#rtr-s-Rich_text_9_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Abel-Regular,Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Rich_text_9 span#rtr-s-Rich_text_9_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Abel-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Group_12 {
  position: absolute;
  top: 967px;
  left: 365px;
  width: 300px;
  height: 187px;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Image_20 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 299px;
  height: 187px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Rich_text_11 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 16px;
  padding-left: 17px;
  width: 283px;
  height: 171px;
  background-color: #FC363B;
  background-image: none;
  opacity: 0.86;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 19px;
  font-size: 15.0pt;
  font-family: Abel-Regular,Arial;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Rich_text_11 .valign {
  vertical-align: top;
  text-align: left;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Rich_text_11 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Abel-Regular,Arial;
  font-size: 15.0pt;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Rich_text_11 span#rtr-s-Rich_text_11_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Abel-Regular,Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Rich_text_11 span#rtr-s-Rich_text_11_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Abel-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Group_13 {
  position: absolute;
  top: 1171px;
  left: 365px;
  width: 300px;
  height: 187px;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Image_21 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 187px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Rich_text_12 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 16px;
  padding-left: 17px;
  width: 283px;
  height: 171px;
  background-color: #FC363B;
  background-image: none;
  opacity: 0.86;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 19px;
  font-size: 15.0pt;
  font-family: Abel-Regular,Arial;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Rich_text_12 .valign {
  vertical-align: top;
  text-align: left;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Rich_text_12 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Abel-Regular,Arial;
  font-size: 15.0pt;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Rich_text_12 span#rtr-s-Rich_text_12_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Abel-Regular,Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Rich_text_12 span#rtr-s-Rich_text_12_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Abel-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Group_15 {
  position: absolute;
  top: 967px;
  left: 32px;
  width: 314px;
  height: 187px;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Image_22 {
  position: absolute;
  top: 0px;
  left: 21px;
  width: 292px;
  height: 187px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Rich_text_21 {
  position: absolute;
  top: 0px;
  left: 22px;
  padding-top: 16px;
  padding-left: 17px;
  width: 275px;
  height: 171px;
  background-color: #FC363B;
  background-image: none;
  opacity: 0.86;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 19px;
  font-size: 15.0pt;
  font-family: Abel-Regular,Arial;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Rich_text_21 .valign {
  vertical-align: top;
  text-align: left;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Rich_text_21 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Abel-Regular,Arial;
  font-size: 15.0pt;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Rich_text_21 span#rtr-s-Rich_text_21_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Abel-Regular,Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Rich_text_21 span#rtr-s-Rich_text_21_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Abel-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Text_1 {
  position: absolute;
  top: 1774px;
  left: 140px;
  width: 507px;
  height: 52px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Abel-Regular,Arial;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Text_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Abel-Regular,Arial;
  font-size: 11.0pt;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Abel-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Image_5 {
  position: absolute;
  top: 1568px;
  left: 86px;
  width: 39px;
  height: 29px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Image_6 {
  position: absolute;
  top: 1568px;
  left: 127px;
  width: 29px;
  height: 29px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Image_7 {
  position: absolute;
  top: 1568px;
  left: 165px;
  width: 30px;
  height: 29px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 #s-Image_9 {
  position: absolute;
  top: 1564px;
  left: 189px;
  width: 56px;
  height: 38px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-481561d0-ff14-4af6-af6d-099cacced780 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}