#s-51d31b6d-51cc-406e-affd-54fdb8f888df #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51d31b6d-51cc-406e-affd-54fdb8f888df #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51d31b6d-51cc-406e-affd-54fdb8f888df #s-Button_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
  filter: alpha(opacity=98) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51d31b6d-51cc-406e-affd-54fdb8f888df #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51d31b6d-51cc-406e-affd-54fdb8f888df #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51d31b6d-51cc-406e-affd-54fdb8f888df #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51d31b6d-51cc-406e-affd-54fdb8f888df #s-Button_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
  filter: alpha(opacity=98) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51d31b6d-51cc-406e-affd-54fdb8f888df #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51d31b6d-51cc-406e-affd-54fdb8f888df #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51d31b6d-51cc-406e-affd-54fdb8f888df #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51d31b6d-51cc-406e-affd-54fdb8f888df #s-Label_9 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=77) ;
  filter: alpha(opacity=77) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51d31b6d-51cc-406e-affd-54fdb8f888df #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51d31b6d-51cc-406e-affd-54fdb8f888df #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51d31b6d-51cc-406e-affd-54fdb8f888df #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51d31b6d-51cc-406e-affd-54fdb8f888df #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51d31b6d-51cc-406e-affd-54fdb8f888df #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51d31b6d-51cc-406e-affd-54fdb8f888df #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51d31b6d-51cc-406e-affd-54fdb8f888df #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51d31b6d-51cc-406e-affd-54fdb8f888df #s-Label_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51d31b6d-51cc-406e-affd-54fdb8f888df #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51d31b6d-51cc-406e-affd-54fdb8f888df #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51d31b6d-51cc-406e-affd-54fdb8f888df #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51d31b6d-51cc-406e-affd-54fdb8f888df #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51d31b6d-51cc-406e-affd-54fdb8f888df #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51d31b6d-51cc-406e-affd-54fdb8f888df #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51d31b6d-51cc-406e-affd-54fdb8f888df #s-Ellipse_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51d31b6d-51cc-406e-affd-54fdb8f888df #s-Button_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
  filter: alpha(opacity=98) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-51d31b6d-51cc-406e-affd-54fdb8f888df > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}