#s-942e5448-8c5e-408c-9726-b36adab20d8c #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-942e5448-8c5e-408c-9726-b36adab20d8c #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-942e5448-8c5e-408c-9726-b36adab20d8c #s-Label_9 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=77) ;
  filter: alpha(opacity=77) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-942e5448-8c5e-408c-9726-b36adab20d8c #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-942e5448-8c5e-408c-9726-b36adab20d8c #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-942e5448-8c5e-408c-9726-b36adab20d8c #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-942e5448-8c5e-408c-9726-b36adab20d8c #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-942e5448-8c5e-408c-9726-b36adab20d8c #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-942e5448-8c5e-408c-9726-b36adab20d8c #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-942e5448-8c5e-408c-9726-b36adab20d8c #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-942e5448-8c5e-408c-9726-b36adab20d8c #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-942e5448-8c5e-408c-9726-b36adab20d8c #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-942e5448-8c5e-408c-9726-b36adab20d8c #s-Label_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-942e5448-8c5e-408c-9726-b36adab20d8c #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-942e5448-8c5e-408c-9726-b36adab20d8c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}